<<<<<<< HEAD
.character-col {
  flex: 0 0 250px !important;
  max-width: 250px !important;
}
=======
.character-col {
  flex: 0 0 250px !important;
  max-width: 250px !important;
}
>>>>>>> 25b25d232077d43fea1b67b4e65d70ea3a5087a1
